{{ define "footer" }}
<body>
    <div class="footer-copyright text-center py-3 bg-light">© 2020 Copyright:
        <a href="https://twitter.com/moritaoy1128" target="_blank" rel="noopener noreferrer"> Kyoprofile 赤石青空設計</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{{ end }}
