{{ define "header" }}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>競プロフィール</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

    <div class="bs-component">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand text-info" href="#">競プロフィール</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">プロフィール設定</a>
                    </li>
                </ul>
		<li class="nav-item"><a class="btn btn-outline-info" href="#">LOGIN</a></li>
		<li class="nav-item"><a class="btn btn-outline-info" href="#">LOGOUT</a></li>
            </div>
        </nav>
    </div>
</head>
{{ end }}
