
{{ template "header" }}
<body>
  
  <style type="text/css">
    <!--
    .sky-img {
        background-size: cover;
        background-repeat: repeat-x;
        background-attachment: fixed;
        background-image:url(/assets/images/top.jpg);
    }
    -->
  </style>
  <div class="sky-img">
    <hr class="my-5">
    <div class="container">
      <section class="bs-docs-section mt-5">
        <div class="jumbotron">
          <h1 class="display-3">競プロのレートを自動更新</h1>
          <p class="lead">Twitterのプロフィール上のレートを、常に最新に更新します</p>
          <hr class="my-4">
          <p>プロフィールのテンプレートを入力するだけで、かんたんに登録できます</p>
          <p>プロフィールは定期的に自動で更新されます</p>
          <p>twitter上からプロフィールを変更すると、自動更新は停止します</p>
          <p class="lead">
            <a class="btn btn-info btn-lg" href="#" role="button">LOGIN</a>
          </p>
        </div>
      </section>
    </div>
    <hr class="my-5">
  </div>
</body>
{{ template "footer" }}
